<%= javascript_include_tag 'product' %>

<p id="notice"><%= notice %></p>

<h1>Products</h1>
<table class="table">
  <tr>
    <td width="30%"><b>Currency</b></td>
    <td width="60%">
      <select name="Currency" id="type" class="form-control plan" onchange="step_change_currency(this);"  >
        <% @countries.each do |map|  %>
          <option value= "<%= map["rate"] %>" id="<%= map["currency"] %>"><%= map["currency"] %></option>
        <% end %>
      </select>
    </td>
  </tr>
</table>
<div id="product_list_frm">
  <%= render 'products/product_list', products:@products%>
</div>
<br>

<%= link_to 'New Product', new_product_path %>
<!--
<script type="text/javascript">
  // function step_change_currency(t){
  //   var currency = t[t.selectedIndex].id
  //   var rate=  t[t.selectedIndex].value;
  //   debugger
  //   var url ='/convert_currency?currency='+currency+'&rate='+rate
  //   var xhr = new XMLHttpRequest();

  //   xhr.open("GET", url, true);
  //   xhr.onreadystatechange = function() {
  //     debugger
  //     if (this.readyState == 4 && this.status == 200) {
  //       debugger
  //       // document.getElementById("demo").innerHTML =
  //       // this.responseText;
  //     }
  //   };
  //   // xhr.send();
  //   // $.ajax({
  //   //     type: "GET",
  //   //     url: "/products/convert_currency",
  //   //     data: {
  //   //       currency: currency,
  //   //       rate: rate
  //   //     }
  //   //   });
  // }
</script>
 -->
